body {
    font-family: 'Times New Roman', Times, serif;
    background-color:azure;
    color:black;
    text-align: left;
}

img {
    height: auto;
    width: 530px;
}

h1 {
    font-weight: 800;
    background: rgba(255, 242, 225, 0.95);
    width: 600px;
}

h2,
h3 {
    font-weight: 800;
    background: rgb(235, 214, 186);
    width:530px;
    margin: 10px 0px;
    padding: 0px 0px 0px 0px;
}

.sec {
    background-color:rgb(217, 249, 249);
    width: 490px;
    margin: 8px 0px;
}

p.sec {
    width:530px;
}

.sec.ingredients {
    text-align: left;
}

.steps {
    margin-bottom: 5px;
}

.steps li {
    list-style-position: outside;
    padding-bottom: 10px;
}
